:host {
  display: inline-block;
}

.default-button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  width: auto;

  // Style Variants
  &.primary {
    background-color: var(--yellow-default);
    color: var(--blue-default);

    &:hover:not(:disabled) {
      background-color: var(--yellow-lighter);
    }
  }

  &.secondary {
    background-color: var(--blue-lighter);
    color: var(--blue-default);

    &:hover:not(:disabled) {
      background-color: #d1d9e6; // Um tom um pouco mais escuro para o hover
    }
  }

  // Modifiers
  &.full-width {
    width: 100%;
  }

  &:disabled {
    background-color: var(--gray-default);
    cursor: not-allowed;
    opacity: 0.7;
  }
}