:host {
  display: block;
  perspective: 1000px;
}

.card-container {
  position: relative;
  width: 100%;
  min-height: 480px;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.product-card {
  background-color: #1a233a;
  border-radius: 8px;
  padding: 1.5rem;
  border: 1px solid var(--blue-lighter);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  cursor: pointer;

  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front {

  width: 100%;
  height: 100%;

  .product-image-container {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10172a;
    border-radius: 4px;
    margin-bottom: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .product-image-placeholder {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      color: var(--gray-default);
    }
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    flex-grow: 1;
  }

  .category {
    font-size: 1rem;
    color: var(--gray-default);
    margin-bottom: 1.5rem;
  }

  .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .flip-indicator {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: var(--gray-default);
    margin-top: 1rem;
  }
}

.cta-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.cta-button {
  display: inline-block;
  background-color: var(--yellow-default);
  color: var(--blue-default);
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}


.card-back {
  width: 100%;
  height: 100%;

  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

  .cta-button-container {
    &.back {
      margin-top: auto;
    }
  }

  .back-header {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    h4 {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .details-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    font-size: 0.95rem;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    li {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid var(--gray-default);
      border-radius: 8px;
    
      &:hover{
        scale: 1.1;
      }

      @media (max-width: 900px) {
        width: 100%;
      }
    }

  }

  .details-description {
    width: 100%;
    margin-bottom: 2%;
    padding: 0.5rem;
    background-color: var(--blue-default);
    border: 1px solid var(--gray-default);
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    max-height: 220px;
    overflow-y: auto;

    h4 {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: var(--blue-default);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--yellow-default);
      border-radius: 10px;
      border: 2px solid var(--blue-default);
    }
  }
}