:host {
  display: block;
  height: 100%;
}

.product-card {
  background-color: #1a233a;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;

  .product-image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #10172a;
    border-radius: 4px;
    margin-bottom: 1rem;
    display: grid;
    place-items: center;
    color: var(--gray-default);
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    flex-grow: 1;
  }

  .category {
    font-size: 1rem;
    color: var(--gray-default);
    margin-bottom: 1.5rem;
  }

  .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .cta-button {
    display: inline-block;
    background-color: var(--yellow-default);
    color: var(--blue-default);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: auto;
  }
}