<div class="contact-details">
  <app-section-subheader title="Nossos Canais"></app-section-subheader>
  <ul>
    <li>
      <strong>Telefone/WhatsApp:</strong>
      <span>(67) 4000-0210</span>
    </li>
    <li>
      <strong>Email:</strong>
      <span>contato@senco.com</span>
    </li>
    <li>
      <strong>Endereço:</strong>
      <span>Av. dos Oitizeiros, 200 60, Jardim dos Estados, Dourados/MS</span>
    </li>
    <li>
      <strong>Horário de Atendimento:</strong>
      <span>Segunda a Sexta, das 8h às 18h</span>
    </li>
  </ul>
</div>
