<div class="contact-details">
  <app-section-subheader title="Nossos Canais"></app-section-subheader>
  <ul>
    <li>
      <strong>Telefone/WhatsApp:</strong>
      <a href="tel:+5522996156154">(22) 99615-6154</a>
    </li>
    <li>
      <strong>Email:</strong>
      <a href="mailto:senco.engenharia.adm@gmail.com">senco.engenharia.adm&#64;gmail.com</a>
    </li>
    <li>
      <strong>Endereço:</strong>
      <a href="https://www.google.com/maps/search/?api=1&query=R.+das+Orqu%C3%ADdeas,+14+-+Res.+Praia+%C3%82ncora,+Rio+das+Ostras+-+RJ,+28899-491" target="_blank" rel="noopener noreferrer">R. das Orquídeas, 14 - Res. Praia Âncora, Rio das Ostras - RJ, 28899-491</a>
    </li>
    <li>
      <strong>Horário de Atendimento:</strong>
      <span>Segunda a Sabado, 24h</span>
    </li>
  </ul>
</div>
