.map-placeholder {
  width: 100%;
  height: 350px;
  background-color: #10172a;
  border: 1px solid var(--gray-default);
  border-radius: 8px;
  display: grid;
  place-items: center;
  color: var(--gray-default);
  font-size: 1.2rem;
}