/* Seção do Mapa */
:host {
  width: 100%;
}

.map-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 5%;
  padding-top: 40%;
  border-radius: 8px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    filter: invert(100%) hue-rotate(180deg) contrast(85%);
  }
}