:host {
  display: block;
  width: 100%;
}

.image-widget-container {
  width: 100%;
  height: 250px;
  background-color: #10172a;
  border-radius: 8px;
  display: grid;
  place-items: center;
  color: var(--gray-default);
  font-size: 1.2rem;
  overflow: hidden;

  .placeholder {
    padding: 1rem;
    text-align: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}