:host {
  display: block;
  background-color: var(--blue-default);
  color: var(--white-default);
}

.home-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

/* Seção Hero */
.hero-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.featured-vehicles-section {
  margin-bottom: 4rem;
}

.featured-equipments-section{
  
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  .equipments-content {

    h2 {
      font-size: 1.75rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      color: var(--gray-default);
      margin-bottom: 1.5rem;
    }
  }

}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.empty-state {
  text-align: center;
  padding: 3rem 1rem;
  color: var(--gray-light);
  font-style: italic;
}

/* Responsividade */
@media (max-width: 992px) {
  .hero-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .product-grid {
    // Conforme a descrição, 2 colunas em mobile.
    // 'auto-fit' já pode cuidar disso, mas podemos forçar.
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}