<div class="explore-container">
  <app-section-header title="Equipamentos para Locação"></app-section-header>

  <!-- Bloco de Filtros -->
  <section class="filters-block">
    <!-- Filtros para Desktop -->
    <div class="filters-desktop">
      <input type="text" placeholder="Busque por nome..." class="filter-input" />
      <select class="filter-select">
        <option disabled selected>Categoria</option>
        <option *ngFor="let categoria of categorias$ | async" [value]="categoria.id">
          {{ categoria.nome }}
        </option>
      </select>
      <select class="filter-select">
        <option disabled selected>Tipo</option>
        <option>Escavadeira</option>
        <option>Andaime</option>
        <option>Furadeira</option>
      </select>
    </div>

    <!-- Botão de Filtro para Mobile -->
    <button class="filters-mobile-toggle" (click)="toggleFilters()">Filtrar Equipamentos</button>
  </section>

  <!-- Grade de Equipamentos -->
  <section class="equipment-grid">
    <app-card-product *ngFor="let ferramenta of ferramentas$ | async"
      [imagePlaceholder]="ferramenta.categoria?.nome || 'Ferramenta'"
      [title]="ferramenta.titulo"
      [info]="ferramenta.categoria?.nome || ''"
      infoType="category"
      buttonText="Solicitar Orçamento"
      buttonLink="/locacao" />
  </section>

  <!-- Paginação / Carregar Mais -->
  <section class="pagination-section">
    <button class="load-more-button">Carregar Mais Equipamentos</button>
  </section>
</div>

<!-- Drawer de Filtros para Mobile -->
<div class="filters-mobile-drawer" [ngClass]="{ 'open': isFilterOpen() }">
  <div class="drawer-header">
    <h3>Filtrar Equipamentos</h3>
    <button class="close-button" (click)="toggleFilters()">X</button>
  </div>
  <div class="drawer-content">
    <input type="text" placeholder="Busque por nome..." class="filter-input" />
    <select class="filter-select">
      <option disabled selected>Categoria</option>
       <option *ngFor="let categoria of categorias$ | async" [value]="categoria.id">
          {{ categoria.nome }}
        </option>
    </select>
    <select class="filter-select">
      <option disabled selected>Tipo</option>
    </select>
  </div>
</div>
