.hero-card {
  position: relative;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #10172a; // Placeholder color
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  color: var(--white-default);

  .hero-card-content {
    position: relative;
    z-index: 2;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}