:host {
  display: block;
  background-color: var(--blue-default);
  color: var(--white-default);
  padding: 2rem 0 4rem;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0 2rem;
  }
}

.subsection-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--yellow-default);
  margin-bottom: 1.5rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-bottom: 4rem;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1.5fr;
    gap: 4rem;
  }
}

/* Seção do Formulário de Contato */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form-group {
    width: 100%;
  }
}

.feedback-message {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 500;

  &.success {
    background-color: #c6f6d5;
    color: #2f855a;
  }

  &.error {
    background-color: #fed7d7;
    color: #c53030;
  }
}