*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --blue-default: #15233c;
  --blue-lighter: #5fa8cf;
  --yellow-default: #facb27;
  --yellow-lighter: #ffe411;
  --white-default: #e1e4e6;
  --gray-default: #9a968e;
}


html, body {
  height: 100%;
  width: 100%;
  background-color: var(--blue-default);
  color: var(--white-default);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  flex: 1 0 auto;
}
