.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--white-default); // Default color, can be overridden by parent
  }

  input {
    width: 100%;
    background-color: #1e3050;
    border: 1px solid var(--gray-default);
    border-radius: 5px;
    padding: 0.85rem 1rem;
    color: var(--white-default);
    font-family: inherit;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      outline: none;
      border-color: var(--yellow-default);
      box-shadow: 0 0 0 2px rgba(250, 203, 39, 0.5);
    }

    &.invalid {
      border-color: #e53e3e;
    }

    &::placeholder {
      color: var(--gray-default);
    }
  }

  .error-message {
    color: #e53e3e;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
}