/* You can add global styles to this file, and also import other style files */

:host{
  $blue-default : #15233c;
  $blue-lighter : #5fa8cf;
  $yelow-default : #facb27;
  $yelow-lighter : #ffe411;
  $white-default : #e1e4e6;
  $gray-default : #9a968e;
}
